.yellow-police {
    color: #FFDF2B;
    text-transform: uppercase;
}
.nav-dark{
    background-color:#261C2C;
}
.nav-light{
    background-color: rgb(255, 255, 255);
}

.dropdown-menu.show {
    margin-left: -100px;
  }
  
  .dropdown-toggle::after {
    display: none!important;
  }
